{% extends 'base.html' %} {% block content %}
<h2>List</h2>
<div class="table-responsive">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Pair</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for pair, price, symbol in crypto_data %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <a href="{% url 'crypto_detail' %}?pair={{ pair }}">
              <div style="display: flex; align-items: center">
                <img
                  src="https://cryptofonts.com/img/icons/{{ symbol }}.svg"
                  alt="{{ symbol }}"
                  width="16"
                  height="16"
                  class="cmc-static-icon cmc-static-icon-{{ pair }}"
                />
                <span>{{ symbol }}</span>
              </div>
            </a>
          </td>
          <td>{{ pair }}</td>
          <td>{{ price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
</div>
